<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cx.chenxing.db.uservisitor.dao.UserVisitorDao">
        <resultMap id="BaseResultMap" type="com.cx.chenxing.db.uservisitor.entity.UserVisitor">
                <result property="id" column="id"/>
                <result property="visitorUid" column="visitor_uid"/>
                <result property="bvisitorUid" column="bvisitor_uid"/>
                <result property="visitorTime" column="visitor_time"/>
        </resultMap>
        <sql id="Base_Column_List">
            <![CDATA[
                id,visitor_uid,bvisitor_uid,visitor_time
            ]]>
        </sql>
         <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
                select
                <include refid="Base_Column_List"/>
                from user_visitor
                where
                        id = #{id} 
        </select>
        <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
            delete from user_visitor
            where 
            id = #{id} 
        </delete>
        <insert id="insert" parameterType="com.cx.chenxing.db.uservisitor.entity.UserVisitor"
                useGeneratedKeys="true" keyProperty="id">
                <![CDATA[
                INSERT INTO user_visitor (
                    id ,
                    visitor_uid ,
                    bvisitor_uid ,
                    visitor_time 
                ) VALUES (
                    #{id} ,
                    #{visitorUid} ,
                    #{bvisitorUid} ,
                    #{visitorTime} 
                )
                 ]]>
        </insert>
        <insert id="insertSelective" parameterType="com.cx.chenxing.db.uservisitor.entity.UserVisitor"
                useGeneratedKeys="true" keyProperty="id">
                insert into  user_visitor
                <trim prefix="(" suffix=")" suffixOverrides=",">
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
                             id ,
                         </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(visitorUid)">
                             visitor_uid ,
                         </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(bvisitorUid)">
                             bvisitor_uid ,
                         </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(visitorTime)">
                             visitor_time 
                         </if>
                 </trim>
                <trim prefix="values (" suffix=")" suffixOverrides=",">
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
                            #{id} ,
                        </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(visitorUid)">
                            #{visitorUid} ,
                        </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(bvisitorUid)">
                            #{bvisitorUid} ,
                        </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(visitorTime)">
                            #{visitorTime} 
                        </if>
                </trim>
        </insert>
        <update id="updateByPrimaryKeySelective" parameterType="com.cx.chenxing.db.uservisitor.entity.UserVisitor">
                update  user_visitor
            <set>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
                         id = #{id},
                     </if>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(visitorUid)">
                         visitor_uid = #{visitorUid},
                     </if>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(bvisitorUid)">
                         bvisitor_uid = #{bvisitorUid},
                     </if>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(visitorTime)">
                         visitor_time = #{visitorTime}
                     </if>
            </set>
             where
                    id = #{id} 
        </update>
        <update id="updateByPrimaryKey" parameterType="com.cx.chenxing.db.uservisitor.entity.UserVisitor">
            update  user_visitor
             <set>
                 id = #{id},
                 visitor_uid = #{visitorUid},
                 bvisitor_uid = #{bvisitorUid},
                 visitor_time = #{visitorTime}
            </set>
                where
                        id = #{id} 
        </update>


        <sql id="queryWhere">
            <where>
                <trim suffixOverrides="and">
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
                            id = #{id}  and 
                        </if>
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(visitorUid)">
                            visitor_uid = #{visitorUid}  and 
                        </if>
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(bvisitorUid)">
                            bvisitor_uid = #{bvisitorUid}  and 
                        </if>
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(visitorTime)">
                            visitor_time = #{visitorTime} 
                        </if>
                </trim>
            </where>
        </sql>

        <select id="query" resultMap="BaseResultMap" parameterType="com.cx.chenxing.model.uservisitor.param.UserVisitorQuery">
                select
                <include refid="Base_Column_List"/>
                    from user_visitor
                <include refid="queryWhere"/>
                <if test="sortColumns != null">
                    order by #{sortColumns}
                </if>
        </select>
</mapper>
