<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cx.chenxing.articlereply.dao.ArticleReplyDao">
        <resultMap id="BaseResultMap" type="com.cx.chenxing.articlereply.entity.ArticleReply">
                <result property="id" column="id"/>
                <result property="articleId" column="article_id"/>
                <result property="replyUid" column="reply_uid"/>
                <result property="replyTime" column="reply_time"/>
                <result property="replyComment" column="reply_comment"/>
                <result property="replyPid" column="reply_pid"/>
                <result property="breplyUid" column="breply_uid"/>
        </resultMap>
        <sql id="Base_Column_List">
            <![CDATA[
                id,article_id,reply_uid,reply_time,reply_comment,reply_pid,breply_uid
            ]]>
        </sql>
         <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
                select
                <include refid="Base_Column_List"/>
                from article_reply
                where
                        id = #{id} 
        </select>
        <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
            delete from article_reply
            where 
            id = #{id} 
        </delete>
        <insert id="insert" parameterType="com.cx.chenxing.articlereply.entity.ArticleReply"
                useGeneratedKeys="true" keyProperty="id">
                <![CDATA[
                INSERT INTO article_reply (
                    id ,
                    article_id ,
                    reply_uid ,
                    reply_time ,
                    reply_comment ,
                    reply_pid ,
                    breply_uid 
                ) VALUES (
                    #{id} ,
                    #{articleId} ,
                    #{replyUid} ,
                    #{replyTime} ,
                    #{replyComment} ,
                    #{replyPid} ,
                    #{breplyUid} 
                )
                 ]]>
        </insert>
        <insert id="insertSelective" parameterType="com.cx.chenxing.articlereply.entity.ArticleReply"
                useGeneratedKeys="true" keyProperty="id">
                insert into  article_reply
                <trim prefix="(" suffix=")" suffixOverrides=",">
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
                             id ,
                         </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(articleId)">
                             article_id ,
                         </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(replyUid)">
                             reply_uid ,
                         </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(replyTime)">
                             reply_time ,
                         </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(replyComment)">
                             reply_comment ,
                         </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(replyPid)">
                             reply_pid ,
                         </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(breplyUid)">
                             breply_uid 
                         </if>
                 </trim>
                <trim prefix="values (" suffix=")" suffixOverrides=",">
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
                            #{id} ,
                        </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(articleId)">
                            #{articleId} ,
                        </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(replyUid)">
                            #{replyUid} ,
                        </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(replyTime)">
                            #{replyTime} ,
                        </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(replyComment)">
                            #{replyComment} ,
                        </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(replyPid)">
                            #{replyPid} ,
                        </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(breplyUid)">
                            #{breplyUid} 
                        </if>
                </trim>
        </insert>
        <update id="updateByPrimaryKeySelective" parameterType="com.cx.chenxing.articlereply.entity.ArticleReply">
                update  article_reply
            <set>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
                         id = #{id},
                     </if>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(articleId)">
                         article_id = #{articleId},
                     </if>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(replyUid)">
                         reply_uid = #{replyUid},
                     </if>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(replyTime)">
                         reply_time = #{replyTime},
                     </if>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(replyComment)">
                         reply_comment = #{replyComment},
                     </if>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(replyPid)">
                         reply_pid = #{replyPid},
                     </if>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(breplyUid)">
                         breply_uid = #{breplyUid}
                     </if>
            </set>
             where
                    id = #{id} 
        </update>
        <update id="updateByPrimaryKey" parameterType="com.cx.chenxing.articlereply.entity.ArticleReply">
            update  article_reply
             <set>
                 id = #{id},
                 article_id = #{articleId},
                 reply_uid = #{replyUid},
                 reply_time = #{replyTime},
                 reply_comment = #{replyComment},
                 reply_pid = #{replyPid},
                 breply_uid = #{breplyUid}
            </set>
                where
                        id = #{id} 
        </update>


        <sql id="queryWhere">
            <where>
                <trim suffixOverrides="and">
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
                            id = #{id}  and 
                        </if>
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(articleId)">
                            article_id = #{articleId}  and 
                        </if>
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(replyUid)">
                            reply_uid = #{replyUid}  and 
                        </if>
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(replyTime)">
                            reply_time = #{replyTime}  and 
                        </if>
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(replyComment)">
                            reply_comment = #{replyComment}  and 
                        </if>
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(replyPid)">
                            reply_pid = #{replyPid}  and 
                        </if>
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(breplyUid)">
                            breply_uid = #{breplyUid} 
                        </if>
                </trim>
            </where>
        </sql>

        <select id="query" resultMap="BaseResultMap" parameterType="com.cx.chenxing.articlereply.param.ArticleReplyQuery">
                select
                <include refid="Base_Column_List"/>
                    from article_reply
                <include refid="queryWhere"/>
                <if test="sortColumns != null">
                    order by #{sortColumns}
                </if>
        </select>
</mapper>
