<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cx.chenxing.article.dao.ArticleDao">
        <resultMap id="BaseResultMap" type="com.cx.chenxing.article.entity.Article">
                <result property="id" column="id"/>
                <result property="article" column="article"/>
                <result property="creTime" column="cre_time"/>
                <result property="creUid" column="cre_uid"/>
                <result property="picurl" column="picurl"/>
                <result property="location" column="location"/>
                <result property="lng" column="lng"/>
                <result property="lat" column="lat"/>
                <result property="zfnum" column="zfnum"/>
                <result property="plnum" column="plnum"/>
                <result property="ydnum" column="ydnum"/>
                <result property="dznum" column="dznum"/>
                <result property="shows" column="shows"/>
        </resultMap>
        <sql id="Base_Column_List">
            <![CDATA[
                id,article,cre_time,cre_uid,picurl,location,lng,lat,zfnum,plnum,ydnum,dznum,shows
            ]]>
        </sql>
         <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
                select
                <include refid="Base_Column_List"/>
                from article
                where
                        id = #{id} 
        </select>
        <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
            delete from article
            where 
            id = #{id} 
        </delete>
        <insert id="insert" parameterType="com.cx.chenxing.article.entity.Article"
                useGeneratedKeys="true" keyProperty="id">
                <![CDATA[
                INSERT INTO article (
                    id ,
                    article ,
                    cre_time ,
                    cre_uid ,
                    picurl ,
                    location ,
                    lng ,
                    lat ,
                    zfnum ,
                    plnum ,
                    ydnum ,
                    dznum ,
                    shows
                ) VALUES (
                    #{id} ,
                    #{article} ,
                    #{creTime} ,
                    #{creUid} ,
                    #{picurl} ,
                    #{location} ,
                    #{lng} ,
                    #{lat} ,
                    #{zfnum} ,
                    #{plnum} ,
                    #{ydnum} ,
                    #{dznum} ,
                    #{shows}
                )
                 ]]>
        </insert>
        <insert id="insertSelective" parameterType="com.cx.chenxing.article.entity.Article"
                useGeneratedKeys="true" keyProperty="id">
                insert into  article
                <trim prefix="(" suffix=")" suffixOverrides=",">
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
                             id ,
                         </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(article)">
                             article ,
                         </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(creTime)">
                             cre_time ,
                         </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(creUid)">
                             cre_uid ,
                         </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(picurl)">
                             picurl ,
                         </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(location)">
                             location ,
                         </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(lng)">
                             lng ,
                         </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(lat)">
                             lat ,
                         </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(zfnum)">
                             zfnum ,
                         </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(plnum)">
                             plnum ,
                         </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(ydnum)">
                             ydnum ,
                         </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(dznum)">
                             dznum ,
                         </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(shows)">
                             shows
                         </if>
                 </trim>
                <trim prefix="values (" suffix=")" suffixOverrides=",">
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
                            #{id} ,
                        </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(article)">
                            #{article} ,
                        </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(creTime)">
                            #{creTime} ,
                        </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(creUid)">
                            #{creUid} ,
                        </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(picurl)">
                            #{picurl} ,
                        </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(location)">
                            #{location} ,
                        </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(lng)">
                            #{lng} ,
                        </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(lat)">
                            #{lat} ,
                        </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(zfnum)">
                            #{zfnum} ,
                        </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(plnum)">
                            #{plnum} ,
                        </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(ydnum)">
                            #{ydnum} ,
                        </if>
                         <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(dznum)">
                            #{dznum} ,
                        </if>
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(shows)">
                            #{shows}
                        </if>
                </trim>
        </insert>
        <update id="updateByPrimaryKeySelective" parameterType="com.cx.chenxing.article.entity.Article">
                update  article
            <set>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
                         id = #{id},
                     </if>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(article)">
                         article = #{article},
                     </if>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(creTime)">
                         cre_time = #{creTime},
                     </if>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(creUid)">
                         cre_uid = #{creUid},
                     </if>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(picurl)">
                         picurl = #{picurl},
                     </if>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(location)">
                         location = #{location},
                     </if>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(lng)">
                         lng = #{lng},
                     </if>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(lat)">
                         lat = #{lat},
                     </if>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(zfnum)">
                         zfnum = #{zfnum},
                     </if>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(plnum)">
                         plnum = #{plnum},
                     </if>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(ydnum)">
                         ydnum = #{ydnum},
                     </if>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(dznum)">
                         dznum = #{dznum},
                     </if>
                     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(shows)">
                        shows = #{shows}
                     </if>
            </set>
             where
                    id = #{id} 
        </update>
        <update id="updateByPrimaryKey" parameterType="com.cx.chenxing.article.entity.Article">
            update  article
             <set>
                 id = #{id},
                 article = #{article},
                 cre_time = #{creTime},
                 cre_uid = #{creUid},
                 picurl = #{picurl},
                 location = #{location},
                 lng = #{lng},
                 lat = #{lat},
                 zfnum = #{zfnum},
                 plnum = #{plnum},
                 ydnum = #{ydnum},
                 dznum = #{dznum},
                 shows = #{shows}
            </set>
                where
                        id = #{id} 
        </update>


        <sql id="queryWhere">
            <where>
                <trim suffixOverrides="and">
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
                            id = #{id}  and 
                        </if>
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(article)">
                            article = #{article}  and 
                        </if>
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(creTime)">
                            cre_time = #{creTime}  and 
                        </if>
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(creUid)">
                            cre_uid = #{creUid}  and 
                        </if>
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(picurl)">
                            picurl = #{picurl}  and 
                        </if>
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(location)">
                            location = #{location}  and 
                        </if>
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(lng)">
                            lng = #{lng}  and 
                        </if>
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(lat)">
                            lat = #{lat}  and 
                        </if>
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(zfnum)">
                            zfnum = #{zfnum}  and 
                        </if>
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(plnum)">
                            plnum = #{plnum}  and 
                        </if>
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(ydnum)">
                            ydnum = #{ydnum}  and 
                        </if>
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(dznum)">
                            dznum = #{dznum} and
                        </if>
                        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(shows)">
                            shows = #{shows}
                        </if>
                </trim>
            </where>
        </sql>

        <select id="query" resultMap="BaseResultMap" parameterType="com.cx.chenxing.article.param.ArticleQuery">
                select
                <include refid="Base_Column_List"/>
                    from article
                <include refid="queryWhere"/>
                <if test="sortColumns != null">
                    order by #{sortColumns}
                </if>
        </select>
</mapper>
