<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cx.chenxing.user.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.cx.chenxing.user.entity.User">
        <result property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="userName" column="user_name"/>
        <result property="mail" column="mail"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="img" column="img"/>
        <result property="loginTime" column="login_time"/>
        <result property="creTime" column="cre_time"/>
        <result property="activate" column="activate"/>
        <result property="adress" column="adress"/>
        <result property="birthday" column="birthday"/>
        <result property="signature" column="signature"/>
        <result property="accountLevel" column="account_level"/>
    </resultMap>
    <sql id="Base_Column_List">
            <![CDATA[
                id,account,password,phone,user_name,mail,age,sex,img,login_time,cre_time,activate,adress,birthday,signature,account_level
            ]]>
        </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from user
        where
        id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
            delete from user
            where
            id = #{id}
        </delete>
    <insert id="insert" parameterType="com.cx.chenxing.user.entity.User"
            useGeneratedKeys="true" keyProperty="id">
                <![CDATA[
                INSERT INTO user (
                    id ,
                    account ,
                    password ,
                    phone ,
                    user_name ,
                    mail ,
                    age ,
                    sex ,
                    img ,
                    login_time ,
                    cre_time ,
                    activate ,
                    adress ,
                    birthday ,
                    signature ,
                    account_level
                ) VALUES (
                    #{id} ,
                    #{account} ,
                    #{password} ,
                    #{phone} ,
                    #{userName} ,
                    #{mail} ,
                    #{age} ,
                    #{sex} ,
                    #{img} ,
                    #{loginTime} ,
                    #{creTime} ,
                    #{activate} ,
                    #{adress} ,
                    #{birthday} ,
                    #{signature} ,
                    #{accountLevel}
                )
                 ]]>
        </insert>
    <insert id="insertSelective" parameterType="com.cx.chenxing.user.entity.User"
            useGeneratedKeys="true" keyProperty="id">
        insert into  user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
                id ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(account)">
                account ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(password)">
                password ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(phone)">
                phone ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(userName)">
                user_name ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(mail)">
                mail ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(age)">
                age ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(sex)">
                sex ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(img)">
                img ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(loginTime)">
                login_time ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(creTime)">
                cre_time ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(activate)">
                activate ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(adress)">
                adress ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(birthday)">
                birthday ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(signature)">
                signature ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(accountLevel)">
                account_level
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
                #{id} ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(account)">
                #{account} ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(password)">
                #{password} ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(phone)">
                #{phone} ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(userName)">
                #{userName} ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(mail)">
                #{mail} ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(age)">
                #{age} ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(sex)">
                #{sex} ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(img)">
                #{img} ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(loginTime)">
                #{loginTime} ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(creTime)">
                #{creTime} ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(activate)">
                #{activate} ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(adress)">
                #{adress} ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(birthday)">
                #{birthday} ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(signature)">
                #{signature} ,
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(accountLevel)">
                account_level
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cx.chenxing.user.entity.User">
        update  user
        <set>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
                id = #{id},
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(account)">
                account = #{account},
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(password)">
                password = #{password},
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(phone)">
                phone = #{phone},
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(userName)">
                user_name = #{userName},
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(mail)">
                mail = #{mail},
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(age)">
                age = #{age},
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(sex)">
                sex = #{sex},
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(img)">
                img = #{img},
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(loginTime)">
                login_time = #{loginTime},
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(creTime)">
                cre_time = #{creTime},
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(activate)">
                activate = #{activate},
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(adress)">
                adress = #{adress},
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(birthday)">
                birthday = #{birthday},
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(signature)">
                signature = #{signature},
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(accountLevel)">
                account_level = #{accountLevel}
            </if>
        </set>
        where
        id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cx.chenxing.user.entity.User">
        update  user
        <set>
            id = #{id},
            account = #{account},
            password = #{password},
            phone = #{phone},
            user_name = #{userName},
            mail = #{mail},
            age = #{age},
            sex = #{sex},
            img = #{img},
            login_time = #{loginTime},
            cre_time = #{creTime},
            activate = #{activate},
            adress = #{adress},
            birthday = #{birthday},
            signature = #{signature},
            account_level = #{accountLevel}
        </set>
        where
        id = #{id}
    </update>


    <sql id="queryWhere">
        <where>
            <trim suffixOverrides="and">
                <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
                    id = #{id}  and
                </if>
                <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(account)">
                    account = #{account}  and
                </if>
                <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(password)">
                    password = #{password}  and
                </if>
                <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(phone)">
                    phone = #{phone}  and
                </if>
                <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(userName)">
                    user_name = #{userName}  and
                </if>
                <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(mail)">
                    mail = #{mail}  and
                </if>
                <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(age)">
                    age = #{age}  and
                </if>
                <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(sex)">
                    sex = #{sex}  and
                </if>
                <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(img)">
                    img = #{img}  and
                </if>
                <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(loginTime)">
                    login_time = #{loginTime}  and
                </if>
                <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(creTime)">
                    cre_time = #{creTime}  and
                </if>
                <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(activate)">
                    activate = #{activate}  and
                </if>
                <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(adress)">
                    adress = #{adress}  and
                </if>
                <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(birthday)">
                    birthday = #{birthday}  and
                </if>
                <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(signature)">
                    signature = #{signature} and
                </if>
                <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(accountLevel)">
                    account_level = #{accountLevel}
                </if>
            </trim>
        </where>
    </sql>

    <select id="query" resultMap="BaseResultMap" parameterType="com.cx.chenxing.user.param.UserQuery">
        select
        <include refid="Base_Column_List"/>
        from user
        <include refid="queryWhere"/>
        <if test="sortColumns != null">
            order by #{sortColumns}
        </if>
    </select>

    <!-- 通过用户名和密码找user -->
    <select id="findLoginUserByLoginNameAndPassword" resultType="com.cx.chenxing.user.result.UserBean" parameterType="com.cx.chenxing.user.param.UserQuery" >
        select
        <include refid="Base_Column_List" />
        from user
        where account = #{account,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
    </select>

    <select id="queryAccount" resultMap="BaseResultMap" parameterType="com.cx.chenxing.user.param.UserQuery" >
        select
        <include refid="Base_Column_List" />
        from user
        where (user_name = #{userName,jdbcType=VARCHAR} or mail = #{mail,jdbcType=VARCHAR}) and activate is not null
    </select>
</mapper>
